<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:fragment="head">
        <head>
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">

            <title>우리동네 전시회</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <style>



            </style>

            <link href="assets/css/main.css" rel="stylesheet">


            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
        </head>
    </div>

    <div th:fragment="menu">
        <!-- ======= Header ======= -->
        <header id="header" class="header d-flex align-items-center fixed-top">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <!--<input type="text" id="principalId" th:value="${#authentication.principal.user.id}"/>-->

                <a href="index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <!-- <img src="assets/img/logo.png" alt=""> -->
                    <i class="bi bi-camera"></i>
                    <h1>test</h1>
                </a>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a href="index.html" class="active">홈</a></li>
                        <li><a href="about.html">지도로 보기</a></li>
                        <li><a href="services.html">게시판</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li class="dropdown"><a href="#"><span>내계정</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>

                                <th:block sec:authorize="isAnonymous()">
                                    <li><a th:href="@{/user/join}">회원가입</a></li>
                                    <li><a th:href="@{/user/login}">로그인</a></li>
                                </th:block>
                                <th:block sec:authorize="isAuthenticated()" >
                                    <li><a href="/user/1">마이페이지</a></li>
                                    <li><a href="/logout">로그아웃</a></li>
                                </th:block>

                            </ul>
                        </li>
                    </ul>
                </nav><!-- .navbar -->

                <div class="header-social-links">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
                </div>
                <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
                <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

            </div>
        </header>
        <!-- End Header -->

    </div>



</html>