<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jghan.museumPJT.mapper.ExhibitionMapper">

    <!--전시 검색-->
    <select id="selectExhibition" parameterType="String" resultType="com.jghan.museumPJT.dto.ExhibitionDTO">
        SELECT
            e_name, e_link, e_img, e_start, e_end, e_museum
        FROM
            e_exhibition
        WHERE
            e_name LIKE CONCAT('%',#{keyword},'%')
        OR
            e_museum LIKE CONCAT('%',#{keyword},'%')
        AND
            e_display = 1
    </select>

    <!--DB-전체전시조회-->
    <select id="selectExhibitionALL" resultType="com.jghan.museumPJT.dto.ExhibitionDTO">
        SELECT
        e_idx, e_name, e_link, e_img, e_museum, e_start, e_img, e_end
        FROM
        e_exhibition
        WHERE
        e_display = 1;
    </select>

    <!--전시조회-->
    <select id="selectExhibitionByName" parameterType="String" resultType="String">
        SELECT
            e_name
        FROM
            e_exhibition
        WHERE
            e_name = #{eName}
    </select>

    <!--전시등록-->
    <insert id="insertExhibition" parameterType="com.jghan.museumPJT.dto.ExhibitionDTO"  >
        INSERT INTO
        e_exhibition(
            e_museum,
            e_name,
            e_link,
            e_img,
            e_start,
            e_end)
            VALUES (
           #{eMuseum},
            #{eName},
            #{eLink},
            #{eImg},
            DATE_FORMAT(#{eStart}, "%Y-%m-%d"),
            DATE_FORMAT(#{eEnd}, "%Y-%m-%d")
        )
    </insert>

    <!--지난 전시조회-->
    <select id="selectFinishedExhibition" parameterType="String" resultType="com.jghan.museumPJT.dto.ExhibitionDTO">
        <![CDATA[
        SELECT
            *
        FROM
            e_exhibition
        WHERE
            e_end < #{today}
        ]]>
    </select>

    <update id="updateEdisplayZero" parameterType="int" >
        UPDATE e_exhibition
        SET
            e_display = 0
        WHERE
            e_idx = #{eIdx}
    </update>



</mapper>