<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!------------------------head------------------------>
<div th:replace="layout/header2" :: head />

<!------------------------head------------------------>

<body>


<nav class="bg-dark navbar-dark">
  <div class="container">
    <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>Forest</a>
  </div>
</nav>
<section id="header" class="jumbotron text-center">
  <h1 class="display-3">우리동네 전시회</h1>
  <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
  <a href="" class="btn btn-primary">Click</a>
  <a href="" class="btn btn-secondary">Click</a>
</section>

<section id="gallery">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
          <div class="card-body">

            <h5 class="card-title" style="margin-bottom: -0.25rem">Sunset</h5>
            <div class="rating">
              <span><i class="fas fa-star" style="color: #e0e0e0;"></i></span>
              <span class="text">9.94</span>
            </div>

            <br>
            <div>
              <p style="margin-bottom: 0px;">국립중앙박물관</p>
              <p style="margin-bottom: 0px;">2023-03-23 ~ 2023-09-23</p>
            </div>
            <br>

            <a href="" class="btn btn-outline-success btn-sm">사이트 이동</a>
            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>



          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Sunset</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
            <a href="" class="btn btn-outline-success btn-sm">Read More</a>
            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Sunset</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
            <a href="" class="btn btn-outline-success btn-sm">Read More</a>
            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>



<script src="/js/index.js"></script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>