<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="layout/header" :: head />

<body>
<!-- ======= Header ======= -->
<div th:replace="layout/header" :: menu />

<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2><span>전국 곳곳의</span>전시들을 한 눈에!</h2>
                <p>Dummy mention</p>
                <!-- <a href="contact.html" class="btn-get-started">Available for hire</a> -->
                
                <!-- 검색창 -->
	            <div class="d-flex">
		        	<input class="form-control me-2" id="search" type="search" placeholder="전시명, 전시관을 찾아보세요." aria-label="Search">
					<button type="button" onclick="javascript:searchExhibition();" class="btn btn-primary me-1">조회</button>
		        </div>
                <div class="row gy-4 justify-content-center" id="exItemList"></div>
    		</div>
    	</div>
    </div>
</section><!-- End Hero Section -->



<!-- 애니메이션 효과 -->
<!-- <main id="main" data-aos="fade" data-aos-delay="1500"> -->
<main id="main">

<!-- Button trigger modal -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="row gy-4 justify-content-center">

                <div th:each="ex: ${exList}" class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img th:src="${ex.eImg}" class="img-fluid" alt="">
                        <div class="gallery-links" style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">

<!--                            <a th:href="${ex.eImg}" title="Gallery 23" class="glightbox preview-link">-->
<!--                                <i class="bi bi-arrows-angle-expand"><h5>자세히</h5></i>-->
<!--                            </a>-->
                            <p th:text="${ex.eName}">전시명</p>
                            <p th:text="|${ex.eStart} - ${ex.eEnd}|">전시기간</p>
                            <p th:text="${ex.eMuseum}">전시관</p>
                            <a th:href="@{${ex.eLink}}" class="details-link">
                                <i class="bi bi-link-45deg"><h6>사이트이동</h6></i>
                            </a>

                        </div>
                    </div>
                </div>
        </div>
        
        
        
        
    </section><!-- End Gallery Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="layout/footer" :: footer />

<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader">
    <div class="line"></div>
</div>

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<!--<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>-->

<script src="assets/vendor/glightbox/js/glightbox.js"></script>

<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="/js/index.js"></script>



<script type="text/javascript">
	// 게시글 로드하기
	let pageNum= 1;	
	function storyLoad() {
		console.log("pageNum:", pageNum)
	    $.ajax({
	        url:`/api/vegemilBaby/event/model?pageNum=${pageNum}&pageSize=30`,
	        dataType : "json",
		     async: false
	        
	    }).done(res=>{
	        console.log(res);
	        res.data.list.forEach((model) => {
				console.log(model);
	            let babyModel = makeBabyModel(model)
	            $("#babyList").append(babyModel);	          
	           
	        })									        
	    }).fail(error => {
	        console.log("오류", error);
	    });
	}
	
	//전시 아이템 생성
	function makeExItem(model) {
		let item =
		    `
		    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="gallery-item h-100">
                            <img src="${ex.eimg}" class="img-fluid" alt="">
                            <div class="gallery-links" style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">


                                <p th:text="${ex.ename}">${ex.ename}</p>
                                <p th:text="${ex.estart} - ${ex.eend}">${ex.estart} - ${ex.eend}</p>
                                <p th:text="${ex.emuseum}">${ex.emuseum}</p>
                                <a href="${ex.elink}" class="details-link">
                                    <i class="bi bi-link-45deg"><h6>사이트이동</h6></i>
                                </a>

                            </div>
                        </div>
                    </div>
		     `;									
		    return item;
	}
	
	//생성된 타이틀 로드
	function titleLoad(rownum){
		console.log('타이틀 로드 함수실행')
		let title;
		$.ajax({
			  url:'/api/vegemilBaby/event/model/title/'+rownum,
			  method: "GET",
		      dataType : "json",
		      async: false,

			  success: function(res) {
				  let model = res.data;
		          title = makeTitle(model);
			  },
			  error: function(error) {
			      console.log(error);
			  }
			});										
	return title;
	
	} 
	
	//타이틀 생성
	function makeTitle(model){
		let title = `
			<li class="mcBox" id="${model.tRownum}">
				<div class="best_day">
					<span class="bestType01 bg_bean">${model.tMonth1}</span>
					<span>${model.tMonth1String}</span>
					`;
					if(model.tMonth2){													
						title += `
						<span class="bestType01 bg_bean">${model.tMonth2}</span>
						<span>${model.tMonth2String}</span>`;
					}
					title += `
					<span class="bestYear">${model.tYear}</span>
				</div>											
			</li> 
		`;
		return title;										
	}
	
	storyLoad();	
	
	 $( document ).ready( function() {			
			//이전 스크롤 좌표
			var lastScrollTop = 0;			
			//스크롤 이벤트 최초 발생
		    $(window).scroll( ()=> {
		    	
		    	let checkNum = $(window).scrollTop() - ( document.documentElement.scrollHeight - window.innerHeight );
				if(checkNum <0.5 && checkNum >-2.5){
					pageNum++;
					console.log('새 페이지 로드')
					storyLoad();
					
				} 
		    });
		  } );
		
   
   (function(w, d, a){
		w.__beusablerumclient__ = {
			load : function(src){
				var b = d.createElement("script");
				b.src = src; b.async=true; b.type = "text/javascript";
				d.getElementsByTagName("head")[0].appendChild(b);
			}
		};w.__beusablerumclient__.load(a);
	})(window, document, '//rum.beusable.net/script/b161207e112311u833/2dbeafc7a5');
	</script>




</body>

</html>